parameters:
  - name: release
    displayName: Release
    type: boolean
    default: false

trigger:
  branches:
    include:
      - "*"
pr: none

variables:
  - group: pipeline
  - name: isReleaseEnabled
    value: ${{ parameters.release }}

stages:
  - stage: commit
    displayName: Commit

    variables:
      - group: stage-commit

    jobs:
      - template: ./build/azp/azure-pipelines.build.yml
