name: Continuous Delivery

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      publish:
        description: 'Publish to Chocolatey'
        required: false
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  commit:
    name: Commit
    runs-on: windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Init .NET
        run: dotnet tool restore

      - name: Package Cake
        run: dotnet cake --target package

      - name: Upload Chocolatey Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: chocolatey
          path: artifacts/chocolatey/

      - name: Publish Cake
        env:
          CHOCOLATEY_SERVER: ${{ vars.CHOCOLATEY_SERVER }}
          CHOCOLATEY_API_KEY: ${{ secrets.CHOCOLATEY_API_KEY }}
        run: dotnet cake --target publish --exclusive
        if: ${{ inputs.publish == true }}

      - name: Clean Cake
        run: dotnet cake --target clean
        if: always()
