name: Continuous Delivery

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  commit:
    name: Commit
    runs-on: windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Init .NET
        run: dotnet tool restore

      - name: Package Cake
        run: dotnet cake --target package

      - name: Upload Chocolatey Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: chocolatey
          path: artifacts/chocolatey/

      - name: Clean Cake
        run: dotnet cake --target clean
        if: always()
